<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      TIPO DE MOVIMIENTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="editar">
    <br>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Tipo movimiento</ion-label>
        <ion-input [(ngModel)]="tipomovimiento.descripcion" class="mayuscula" onkeyup="javascript:this.value=this.value.toUpperCase();"></ion-input>
      </ion-item>
      <br>
      <div class="panel">
        <ion-button (click)="editar = false" class="cancel hovercancel"><b>Cancelar</b></ion-button>
        <ion-button (click)="guardar()"class="save hoversave"><b>Guardar</b></ion-button>
      </div>
      <br>
    </ion-card>
  </div>

  <div *ngIf="!editar">
    <ion-chip>
      <ion-icon name="swap" color="primary"></ion-icon>
      <ion-label>Sección para administrar los tipos de movimiento.</ion-label>
    </ion-chip>
    <div class="agregar">
      <ion-button (click)="agregar()" class="save hoversave"><b>Agregar nuevo</b></ion-button>
    </div>

    <ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)" class="mayuscula"></ion-searchbar>

    <div class="table">
      <ion-card *ngFor="let data of resposeDataON">
          <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <div>
                    <ion-icon slot="start" name="create" class="edit" (click)="editarR(data)"></ion-icon>
                    &nbsp;
                    <ion-icon slot="start" name="trash"  class="trash" (click)="eliminar(data)"></ion-icon>
                  </div>
                </ion-col>
                <ion-col size="9">
                  <div>
                    <b>MOVIMIENTO:</b><br>{{data.descripcion}}
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-card>
    </div>
  </div>


</ion-content>