ion-content {
    --background: url("../../assets/img/-8.jpg") 0 0/100% 100% no-repeat;
    height: 100%;
    text-align: center;


    .cuadro {
        width: 90;
        height: 60%;
        margin: 30% 5% 5% 5%;
        background-color: rgba(179, 179, 179, 0.3);
        border-radius: 10%;

        .imagen {
            margin-top: 20% !important;
            text-align: center;
            z-index: 99;
            margin-bottom: 10%;

            img {
                height: 70%;
                width: 70%;
            }
        }

        .opciones {
            width: 90%;
            top: 50%;
            margin-left: 5% !important;
            margin-right: 5% !important;

            .PR {
                margin-top: 5%;
                width: 50%;
                color: rgba(255, 255, 255, 0.904) !important;
                --background: #00EB10 !important;
                font-size: 12px;
            }

            .OP {
                margin-top: 10%;
                width: 70%;
                color: white;
                --background: #5bc042 !important;
            }


            ion-button {
                --background-hover: #5bc042 !important;
            }

            ion-item {
                margin-bottom: 4%;
                --background: rgba(242, 242, 242, .8) !important;
                --padding: 0;
                --border-radius: 20px;
            }

            ion-input {
                --color: #000 !important;
            }

            ion-input:focus {
                --background-focus: rgba(255, 255, 255, 0.5) !important;
            }
        }
    }
}