<ion-content>
  <div class="cuadro mat-elevation-z20">
    <div class="imagen">
      <br>
      <img src="../../assets/img/logo.png">
    </div>
    <div class="opciones">
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="contact" style="color:black;"></ion-icon> Usuario
        </ion-label>
        <ion-input type="text" [(ngModel)]="dataUsuario.user"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="key" style="color:black;"></ion-icon> Password
        </ion-label>
        <ion-input type="text" [(ngModel)]="dataUsuario.password"></ion-input>
      </ion-item>

      <a class="PR">¿Problemas al inicar sesión?<br>¡Pulsa aquí!</a>
      <br>
      <ion-button shape="round" block class="OP" (click)="login()">
        INICIAR SESION
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
      <br><br>
    </div>
  </div>
</ion-content>