<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Instrumentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="editar">
    <br>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Tipo</ion-label>
        <ion-input [(ngModel)]="cainstrumentos.tipo" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="cainstrumentos.nombre" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Notas</ion-label>
        <ion-input [(ngModel)]="cainstrumentos.notas" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Valor en Dolares</ion-label>
        <ion-checkbox checked="false" [(ngModel)]="cainstrumentos.valordolares" (ionChange)="valor($event)" slot="end">
        </ion-checkbox>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Multiplicador</ion-label>
        <ion-input [(ngModel)]="cainstrumentos.multiplicador" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Riesgo</ion-label>
        <ion-input [(ngModel)]="cainstrumentos.riesgo" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Comision</ion-label>
        <ion-input [(ngModel)]="cainstrumentos.comision" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Porcentaje comicion</ion-label>
        <ion-input [(ngModel)]="cainstrumentos.porcentajecomicion" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Estatus</ion-label>
        <ion-input [(ngModel)]="cainstrumentos.estatus" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <div class="panel">
        <ion-button (click)="editar = false" class="cancel hovercancel"><b>Cancelar</b></ion-button>
        <ion-button (click)="guardar()" class="save hoversave"   *ngIf="!opc"><b>Guardar</b></ion-button>
      </div>
      <br>
    </ion-card>
  </div>

  <div *ngIf="!editar">
    <ion-chip>
      <ion-icon name="logo-bitcoin" color="primary"></ion-icon>
      <ion-label>Sección para administrar los Instrumentos.</ion-label>
    </ion-chip>
    <div class="agregar">
      <ion-button (click)="agregar()" class="save hoversave"><b>Agregar nuevo</b></ion-button>
    </div>

    <ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)" class="mayuscula"></ion-searchbar>

    <div class="table">
      <ion-card *ngFor="let data of resposeDataON">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div>
                <ion-icon slot="start" name="create" class="edit" (click)="editarR(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="list-box" class="mas" (click)="info(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="trash" class="trash" (click)="eliminar(data)"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="5">
              <div>
                <b>TIPO:</b><br>{{data.tipo}}
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <b>NOMBRE:</b><br>{{data.nombre}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>

</ion-content>