<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      TRADES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------->
  <!--INICIA FORMULARIO DE CAPTURA PARA AGUARDAR REGISTROS-->
  <div *ngIf="editar" class="editar">
    <br>
    <ion-card>
      <ion-item>
        <ion-label>Numero de Cuenta</ion-label>
        <ion-select interface="action-sheet" cancelText="CANCELAR" okText="ACEPTAR" [(ngModel)]="movimiento.idcliente"
          [disabled]="opc" class="select">
          <ion-select-option value="{{mov.idcliente}}" *ngFor="let mov of resposeDataCliente ">
            {{mov.numerocuenta}} - {{mov.nombre}} {{mov.ap}} {{mov.am}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Movimiento</ion-label>
        <ion-select interface="action-sheet" cancelText="CANCELAR" okText="ACEPTAR"
          [(ngModel)]="movimiento.idtipomovimiento" (ngModelChange)="tipo($event)" [disabled]="opc" class="select">
          <ion-select-option value="{{mov.idtipomovimiento}}" *ngFor="let mov of resposeDataTipoMovimiento">
            {{mov.descripcion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item *ngIf="resposeDataSubTipo">
        <ion-label>Subtipo Movimiento</ion-label>
        <ion-select interface="action-sheet" cancelText="CANCELAR" okText="ACEPTAR"
          [(ngModel)]="movimiento.idsubtipomovimiento" [disabled]="opc" class="select">
          <ion-select-option value="{{mov.idsubtipomovimiento}}" *ngFor="let mov of resposeDataSubTipo ">
            {{mov.descripcion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Monto</ion-label>
        <ion-input [(ngModel)]="movimiento.monto" onkeyup="javascript:this.value=this.value.toUpperCase();"
          [disabled]="opc" type = "number"></ion-input>
      </ion-item>
      <br>
      <div *ngIf="movimiento.idtipomovimiento === '8'">
        <h4 class="h4">WITHDRAWAL</h4>
        <ion-item>
          <ion-label position="floating">Nombre del Beneficiario</ion-label>
          <ion-input [(ngModel)]="movimiento.nombrebeneficiario"
            onkeyup="javascript:this.value=this.value.toUpperCase();" type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Cuenta</ion-label>
          <ion-input [(ngModel)]="movimiento.cuenta" type="number" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Banco</ion-label>
          <ion-input [(ngModel)]="movimiento.banco" type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Numero de Agencia o Sucursal</ion-label>
          <ion-input [(ngModel)]="movimiento.numeroagenciasucursal" type="number" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Ciudad/Poblacion</ion-label>
          <ion-input [(ngModel)]="movimiento.ciudad" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Pais</ion-label>
          <ion-input [(ngModel)]="movimiento.pais" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">ABA/IBA</ion-label>
          <ion-input [(ngModel)]="movimiento.abaiba" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Swift-Chip</ion-label>
          <ion-input [(ngModel)]="movimiento.swiftchip" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Instruccion Especiales</ion-label>
          <ion-input [(ngModel)]="movimiento.instruccionesespeciales" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
      </div>
      <div *ngIf="movimiento.idtipomovimiento === '10'">
        <h4 class="h4">CREDITO</h4>
        <ion-item>
          <ion-label position="floating">Banco Emisor</ion-label>
          <ion-input [(ngModel)]="movimiento.bancoemisor" onkeyup="javascript:this.value=this.value.toUpperCase();"
            type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Pais de Banco Emisor</ion-label>
          <ion-input [(ngModel)]="movimiento.paisbancoemisor" onkeyup="javascript:this.value=this.value.toUpperCase();"
            type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Localidad de Banco Emisor</ion-label>
          <ion-input [(ngModel)]="movimiento.localidadbancoemisor"
            onkeyup="javascript:this.value=this.value.toUpperCase();" type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Fechas Maxima de Transferencia</ion-label>
          <ion-input [(ngModel)]="movimiento.fecmaxtransferencia"
            onkeyup="javascript:this.value=this.value.toUpperCase();" type="date" [disabled]="opc"></ion-input>
        </ion-item>
      </div>
      <div class="panel">
        <ion-button (click)="editar = false" class="cancel hovercancel"><b>Cancelar</b></ion-button>
        <ion-button (click)="guardar()" *ngIf="!opc" class="save hoversave"><b>Guardar</b></ion-button>
      </div>
      <br>
    </ion-card>
  </div>
  <!--TERMINA FORMULARIO DE CAPTURA-->
  <!--------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------->
  <div *ngIf="data" class="editar">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{movimiento.descripcionmovimiento}}</ion-card-subtitle>
        <ion-card-title>{{movimiento.descripcion}} <br> {{movimiento.monto}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <tbody style="width: 100%;">
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>CLIENTE</b></td>
            <td style="width: 50%;">{{movimiento.nombre}} {{movimiento.ap}} {{movimiento.am}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>EMAIL</b></td>
            <td style="width: 50%;">{{movimiento.email}} </td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>USUARIO</b></td>
            <td style="width: 50%;">{{movimiento.numerocuenta}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>EJECUTIVO</b></td>
            <td style="width: 50%;">{{movimiento.nombretrader}} {{movimiento.aptrader}} {{movimiento.amtrader}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>IB</b></td>
            <td style="width: 50%;">{{movimiento.prefijo}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>DOCUMENTO</b></td>
            <td style="width: 50%;">{{movimiento.documento}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>TIPO DOCUMENTO</b></td>
            <td style="width: 50%;">{{movimiento.tipodocumento}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>N° DE CUENTA</b></td>
            <td style="width: 50%;">{{movimiento.prefijo}}-{{movimiento.numerocuenta}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>FEC. APERTURA</b></td>
            <td style="width: 50%;">{{movimiento.fechaapertura}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>TEL. PARTICULAR</b></td>
            <td style="width: 50%;">{{movimiento.telparticular}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>TEL. OFICINA</b></td>
            <td style="width: 50%;">{{movimiento.teloficina}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>TEL. MOVIL</b></td>
            <td style="width: 50%;">{{movimiento.telmovil}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>PAIS</b></td>
            <td style="width: 50%;">{{movimiento.pais}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>CIUDAD</b></td>
            <td style="width: 50%;">{{movimiento.ciudad}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>DIRECCION</b></td>
            <td style="width: 50%;">{{movimiento.direccion}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>OBSERVACIONES</b></td>
            <td style="width: 50%;">{{movimiento.observaciones}}</td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>BAL. ACCOUNT</b></td>
            <td style="width: 50%;"></td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>BAL. CREDIT LINE</b></td>
            <td style="width: 50%;"></td>
          </tr>
          <tr style="width: 100%;">
            <td style="width: 50%;"><b>OPERATIVE MARGIN</b></td>
            <td style="width: 50%;"></td>
          </tr>
        </tbody>
      </ion-card-content>
      <br>
      <div class="panel">
        <ion-button (click)="data = false" class="cancel hovercancel"><b>Cerrar</b></ion-button>
      </div>
    </ion-card>
  </div>

  <!--------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------->
  <!--INICIA VISTA PRINCIPAL-->
  <div *ngIf="!editar && !data">
    <ion-chip class="chip">
      <ion-icon name="briefcase" class="icon"></ion-icon>
      <ion-label class="label">Trades.</ion-label>
    </ion-chip>
    <div class="agregar">
      <ion-button (click)="agregar()" class="save hoversave"><b>Agregar nuevo</b></ion-button>
    </div>

    <ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)" class="mayuscula"></ion-searchbar>

    <div class="table">
      <ion-card *ngFor="let data of resposeDataON">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div>
                <ion-icon slot="start" name="create" class="edit" (click)="editarR(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="list-box" class="mas" (click)="info(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="trash" class="trash" (click)="eliminar(data)"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="9">
              <tbody style="width: 100%;">
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>CUENTA</b></td>
                  <td style="width: 50%;"><b>MOVIMIENTO</b></td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;">{{data.numerocuenta}}</td>
                  <td style="width: 50%;">{{data.descripcionmovimiento}}</td>
                </tr>
              </tbody>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>

</ion-content>