<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MOVIMIENTOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------->
  <!--INICIA FORMULARIO DE CAPTURA PARA AGUARDAR REGISTROS-->
  <div *ngIf="editar" class="editar">
    <br>
    <ion-card>
      <ion-item>
        <ion-label>Numero de Cuenta</ion-label>
        <ion-select interface="action-sheet" cancelText="CANCELAR" okText="ACEPTAR" [(ngModel)]="movimiento.idcliente"
          [disabled]="opc" class="select">
          <ion-select-option value="{{mov.idcliente}}" *ngFor="let mov of resposeDataCliente ">
            {{mov.numerocuenta}} - {{mov.nombre}} {{mov.ap}} {{mov.am}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Movimiento</ion-label>
        <ion-select interface="action-sheet" cancelText="CANCELAR" okText="ACEPTAR"
          [(ngModel)]="movimiento.idtipomovimiento" (ngModelChange)="tipo($event)" [disabled]="opc" class="select">
          <ion-select-option value="{{mov.idtipomovimiento}}" *ngFor="let mov of resposeDataTipoMovimiento">
            {{mov.descripcion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item *ngIf="resposeDataSubTipo">
        <ion-label>Subtipo Movimiento</ion-label>
        <ion-select interface="action-sheet" cancelText="CANCELAR" okText="ACEPTAR"
          [(ngModel)]="movimiento.idsubtipomovimiento" [disabled]="opc" class="select">
          <ion-select-option value="{{mov.idsubtipomovimiento}}" *ngFor="let mov of resposeDataSubTipo ">
            {{mov.descripcion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Monto</ion-label>
        <ion-input [(ngModel)]="movimiento.monto" onkeyup="javascript:this.value=this.value.toUpperCase();"
          [disabled]="opc" type="number"></ion-input>
      </ion-item>
      <br>
      <!--SECCION FORMULARIO WITHDRAWAL-->
      <div *ngIf="movimiento.idtipomovimiento === '8'">
        <h4 class="h4">WITHDRAWAL</h4>
        <ion-item>
          <ion-label position="floating">Nombre del Beneficiario</ion-label>
          <ion-input [(ngModel)]="movimiento.nombrebeneficiario"
            onkeyup="javascript:this.value=this.value.toUpperCase();" type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Cuenta</ion-label>
          <ion-input [(ngModel)]="movimiento.cuenta" type="number" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Banco</ion-label>
          <ion-input [(ngModel)]="movimiento.banco" onkeyup="javascript:this.value=this.value.toUpperCase();"
            type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Numero de Agencia o Sucursal</ion-label>
          <ion-input [(ngModel)]="movimiento.numeroagenciasucursal" type="number" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Ciudad/Poblacion</ion-label>
          <ion-input [(ngModel)]="movimiento.ciudad" onkeyup="javascript:this.value=this.value.toUpperCase();"
            type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Pais</ion-label>
          <ion-input [(ngModel)]="movimiento.pais" onkeyup="javascript:this.value=this.value.toUpperCase();" type="text"
            [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">ABA/IBA</ion-label>
          <ion-input [(ngModel)]="movimiento.abaiba" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Swift-Chip</ion-label>
          <ion-input [(ngModel)]="movimiento.swiftchip" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Instruccion Especiales</ion-label>
          <ion-input [(ngModel)]="movimiento.instruccionesespeciales"
            onkeyup="javascript:this.value=this.value.toUpperCase();" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Banco Intermediario</ion-label>
          <ion-checkbox checked="false" [(ngModel)]="movimiento.bancointermediario" (ionChange)="valor($event)"
            slot="end">
          </ion-checkbox>
        </ion-item>
      </div>
      <!--TERMINA SECCION DE FORMULARIO WITHDRAWAL-->
      <!--SECCION PARA BANCO INTERMEDIARIO Y CHECKBOX-->
      <div *ngIf="movimiento.bancointermediario">
        <h4 class="h4">Banco Intermediario</h4>
        <ion-item>
          <ion-label position="floating">Nombre del Beneficiario</ion-label>
          <ion-input [(ngModel)]="movimiento.nombrebeneficiariobi"
            onkeyup="javascript:this.value=this.value.toUpperCase();" type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Cuenta</ion-label>
          <ion-input [(ngModel)]="movimiento.cuentabi" type="number" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Banco</ion-label>
          <ion-input [(ngModel)]="movimiento.bancobi" onkeyup="javascript:this.value=this.value.toUpperCase();"
            type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Numero de Agencia o Sucursal</ion-label>
          <ion-input [(ngModel)]="movimiento.numeroagenciasucursalbi" type="number" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Ciudad/Poblacion</ion-label>
          <ion-input [(ngModel)]="movimiento.ciudadbi" onkeyup="javascript:this.value=this.value.toUpperCase();"
            type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Pais</ion-label>
          <ion-input [(ngModel)]="movimiento.paisbi" onkeyup="javascript:this.value=this.value.toUpperCase();"
            type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">ABA/IBA</ion-label>
          <ion-input [(ngModel)]="movimiento.abaibabi" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Swift-Chip</ion-label>
          <ion-input [(ngModel)]="movimiento.swiftchipbi" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Instruccion Especiales</ion-label>
          <ion-input [(ngModel)]="movimiento.instruccionesespecialesbi"
            onkeyup="javascript:this.value=this.value.toUpperCase();" type="text" [disabled]="opc">
          </ion-input>
        </ion-item>
      </div>
      <!--TERMINA SECCION DEL BANCO INTERMEDIARIO-->
      <!--SECCION PARA CREDITO-->
      <div *ngIf="movimiento.idtipomovimiento === '10'">
        <h4 class="h4">CREDITO</h4>
        <ion-item>
          <ion-label position="floating">Banco Emisor</ion-label>
          <ion-input [(ngModel)]="movimiento.bancoemisor" onkeyup="javascript:this.value=this.value.toUpperCase();"
            type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Pais de Banco Emisor</ion-label>
          <ion-input [(ngModel)]="movimiento.paisbancoemisor" onkeyup="javascript:this.value=this.value.toUpperCase();"
            type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Localidad de Banco Emisor</ion-label>
          <ion-input [(ngModel)]="movimiento.localidadbancoemisor"
            onkeyup="javascript:this.value=this.value.toUpperCase();" type="text" [disabled]="opc"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Fechas Maxima de Transferencia</ion-label>
          <ion-input [(ngModel)]="movimiento.fecmaxtransferencia"
            onkeyup="javascript:this.value=this.value.toUpperCase();" type="date" [disabled]="opc"></ion-input>
        </ion-item>
      </div>
      <div class="panel">
        <ion-button (click)="editar = false" class="cancel hovercancel"><b>Cancelar</b></ion-button>
        <ion-button (click)="guardar()" *ngIf="!opc" class="save hoversave"><b>Guardar</b></ion-button>
      </div>
      <br>
    </ion-card>
  </div>
  <!--TERMINA FORMULARIO DE CAPTURA-->
  <!--------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------->
  <div *ngIf="data" class="editar">
    <div class="printable-content">
      <div class="printable-area" id="printable-area">
        <ion-card>
          <ion-card-header *ngIf="movimiento.descripcionmovimiento === 'WITHDRAWAL' || movimiento.descripcionmovimiento === 'DEPOSITO INICIAL'">
            <ion-card-subtitle>{{movimiento.descripcionmovimiento}}</ion-card-subtitle>
            <ion-card-title>{{movimiento.descripcion}} <br> {{movimiento.monto}}</ion-card-title>
          </ion-card-header>

          <ion-card-header *ngIf="movimiento.descripcionmovimiento != 'WITHDRAWAL' && movimiento.descripcionmovimiento != 'DEPOSITO INICIAL'">
              <ion-card-title>{{movimiento.descripcionmovimiento}}</ion-card-title>
              <ion-card-subtitle>{{movimiento.monto}}</ion-card-subtitle>
            </ion-card-header>
 
          <ion-card-content>
            <h2 class="h4"><b>DETALLE DE CUENTA</b></h2>
            <br>
            <tbody style="width: 100%;">
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>CLIENTE</b></td>
                <td style="width: 50%;">{{movimiento.nombre}} {{movimiento.ap}} {{movimiento.am}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>EMAIL</b></td>
                <td style="width: 50%;">{{movimiento.email}} </td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>USUARIO</b></td>
                <td style="width: 50%;">{{movimiento.numerocuenta}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>EJECUTIVO</b></td>
                <td style="width: 50%;">{{movimiento.nombretrader}} {{movimiento.aptrader}} {{movimiento.amtrader}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>IB</b></td>
                <td style="width: 50%;">{{movimiento.prefijo}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>DOCUMENTO</b></td>
                <td style="width: 50%;">{{movimiento.documento}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>TIPO DOCUMENTO</b></td>
                <td style="width: 50%;">{{movimiento.tipodocumento}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>N° DE CUENTA</b></td>
                <td style="width: 50%;">{{movimiento.prefijo}}-{{movimiento.numerocuenta}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>FEC. APERTURA</b></td>
                <td style="width: 50%;">{{movimiento.fechaapertura}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>TEL. PARTICULAR</b></td>
                <td style="width: 50%;">{{movimiento.telparticular}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>TEL. OFICINA</b></td>
                <td style="width: 50%;">{{movimiento.teloficina}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>TEL. MOVIL</b></td>
                <td style="width: 50%;">{{movimiento.telmovil}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>PAIS</b></td>
                <td style="width: 50%;">{{movimiento.pais}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>CIUDAD</b></td>
                <td style="width: 50%;">{{movimiento.ciudad}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>DIRECCION</b></td>
                <td style="width: 50%;">{{movimiento.direccion}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>OBSERVACIONES</b></td>
                <td style="width: 50%;">{{movimiento.observaciones}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>BAL. ACCOUNT</b></td>
                <td style="width: 50%;">{{movimiento.account}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>BAL. CREDIT LINE</b></td>
                <td style="width: 50%;">{{movimiento.creditline}}</td>
              </tr>
              <tr style="width: 100%;">
                <td style="width: 50%;"><b>OPERATIVE MARGIN</b></td>
                <td style="width: 50%;">{{movimiento.operativemargin}}</td>
              </tr>
            </tbody>
            <br>

            <div *ngIf="movimiento.descripcionmovimiento === 'WITHDRAWAL'">
              <h3 class="h4"><b>DETALLE DE MOVIMIENTO</b></h3>
              <br>
              <tbody style="width: 100%;">
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>MOVIMIENTO</b></td>
                  <td style="width: 50%;">{{movimiento.descripcionmovimiento}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>SUBMOVIMIENTO</b></td>
                  <td style="width: 50%;">{{movimiento.descripcion}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>MONTO</b></td>
                  <td style="width: 50%;">{{movimiento.monto}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>NOMBRE DEL BENEFICIARIO</b></td>
                  <td style="width: 50%;">{{movimiento.nombrebeneficiario}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>CUENTA</b></td>
                  <td style="width: 50%;">{{movimiento.cuenta}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>BANCO</b></td>
                  <td style="width: 50%;">{{movimiento.banco}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>NUMERO AGENCIA O SUCURSAL</b></td>
                  <td style="width: 50%;">{{movimiento.numeroagenciasucursal}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>CIUDAD/POBLACION</b></td>
                  <td style="width: 50%;">{{movimiento.ciudad}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>PAIS</b></td>
                  <td style="width: 50%;">{{movimiento.pais}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>ABA/IBA</b></td>
                  <td style="width: 50%;">{{movimiento.abaiba}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>SWIFT-CHIP</b></td>
                  <td style="width: 50%;">{{movimiento.swiftchip}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>INSTRUCCIONES ESPECIALES</b></td>
                  <td style="width: 50%;">{{movimiento.instruccionesespeciales}}</td>
                </tr>
              </tbody>
              <div *ngIf="movimiento.bancointermediario">
                <br>
                <h5 class="h4"><b>BANCO INTERMEDIARIO</b></h5>
                <br>
                <tbody>
                  <tr style="width: 100%;">
                    <td style="width: 50%;"><b>NOMBRE DEL BENEFICIARIO</b></td>
                    <td style="width: 50%;">{{movimiento.nombrebeneficiariobi}}</td>
                  </tr>
                  <tr style="width: 100%;">
                    <td style="width: 50%;"><b>CUENTA</b></td>
                    <td style="width: 50%;">{{movimiento.cuentabi}}</td>
                  </tr>
                  <tr style="width: 100%;">
                    <td style="width: 50%;"><b>BANCO</b></td>
                    <td style="width: 50%;">{{movimiento.bancobi}}</td>
                  </tr>
                  <tr style="width: 100%;">
                    <td style="width: 50%;"><b>NUMERO AGENCIA O SUCURSAL</b></td>
                    <td style="width: 50%;">{{movimiento.numeroagenciasucursalbi}}</td>
                  </tr>
                  <tr style="width: 100%;">
                    <td style="width: 50%;"><b>CIUDAD/POBLACION</b></td>
                    <td style="width: 50%;">{{movimiento.ciudadbi}}</td>
                  </tr>
                  <tr style="width: 100%;">
                    <td style="width: 50%;"><b>PAIS</b></td>
                    <td style="width: 50%;">{{movimiento.paisbi}}</td>
                  </tr>
                  <tr style="width: 100%;">
                    <td style="width: 50%;"><b>ABA/IBA</b></td>
                    <td style="width: 50%;">{{movimiento.abaibabi}}</td>
                  </tr>
                  <tr style="width: 100%;">
                    <td style="width: 50%;"><b>SWIFT-CHIP</b></td>
                    <td style="width: 50%;">{{movimiento.swiftchipbi}}</td>
                  </tr>
                  <tr style="width: 100%;">
                    <td style="width: 50%;"><b>INSTRUCCIONES ESPECIALES</b></td>
                    <td style="width: 50%;">{{movimiento.instruccionesespecialesbi}}</td>
                  </tr>
                </tbody>
              </div>
            </div>

            <div *ngIf="movimiento.descripcionmovimiento === 'CREDITO'">
              <br>
              <h5 class="h4"><b>CREDITO</b></h5>
              <br>
              <tbody>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>MOVIMIENTO</b></td>
                  <td style="width: 50%;">{{movimiento.descripcionmovimiento}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>MONTO</b></td>
                  <td style="width: 50%;">{{movimiento.monto}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>BANCO EMISOR</b></td>
                  <td style="width: 50%;">{{movimiento.bancoemisor}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>PAIS DE BANCO EMISOR</b></td>
                  <td style="width: 50%;">{{movimiento.paisbancoemisor}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>LOCALIDAD DE BANCO EMISOR</b></td>
                  <td style="width: 50%;">{{movimiento.localidadbancoemisor}}</td>
                </tr>
                <tr style="width: 100%;">
                  <td style="width: 50%;"><b>FECHA DE TRANSFERENCIA</b></td>
                  <td style="width: 50%;">{{movimiento.fecmaxtransferencia}}</td>
                </tr>
              </tbody>
            </div>
          </ion-card-content>

          <br>
          <div class="panel">
            <ion-button (click)="makePdf(movimiento)" class="save hoversave">
              <ion-icon name="print" class="icon"></ion-icon>
              <b>PDF</b>
            </ion-button>
            <ion-button (click)="data = false" class="cancel hovercancel"><b>Cerrar</b></ion-button>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------------------------->
  <!--INICIA VISTA PRINCIPAL-->
  <div *ngIf="!editar && !data">
    <ion-chip class="chip">
      <ion-icon name="card" class="icon"></ion-icon>
      <ion-label class="label">Movimientos.</ion-label>
    </ion-chip>
    <div class="agregar">
      <ion-button (click)="agregar()" class="save hoversave"><b>AGREGAR NUEVO</b></ion-button>
    </div>

    <ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)" class="mayuscula"></ion-searchbar>

    <div class="table">
      <ion-card *ngFor="let data of resposeDataON">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div>
                <ion-icon slot="start" name="create" class="edit" (click)="editarR(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="list-box" class="mas" (click)="info(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="trash" class="trash" (click)="eliminar(data)"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="9">
              <tbody style="width: 100%;">
                <tr style="width: 100%;">
                  <td><b>CUENTA</b></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><b>MOVIMIENTO</b></td>
                </tr>
                <tr style="width: 100%;">
                  <td>{{data.prefijo}}-{{data.numerocuenta}}</td>
                  <td>&nbsp;&nbsp;</td>
                  <td>{{data.descripcionmovimiento}}</td>
                </tr>
              </tbody>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>

</ion-content>