<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Catalogo de Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="editar" class="editar">
    <br>
    <ion-card>
      <ion-item>
          <ion-label>Rol</ion-label>
          <ion-select cancelText="CANCELAR" okText="ACEPTAR" [(ngModel)]="causuario.idtipousuario" [disabled]="opc">
            <div *ngFor="let mov of resposeDataTipoUsuario ">
              <ion-select-option value="{{mov.idtipousuario}}">{{mov.descripcion}}</ion-select-option>
            </div>
          </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="causuario.nombre" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input [(ngModel)]="causuario.ap" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input [(ngModel)]="causuario.am" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="causuario.email"  [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="causuario.user"  [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="causuario.password" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input [(ngModel)]="causuario.telefono" class="mayuscula"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>MANAGER</ion-label>
        <ion-select cancelText="CANCELAR" okText="ACEPTAR" [(ngModel)]="causuario.idmanager" [disabled]="opc">
          <div *ngFor="let mov of resposeDataManager ">
            <ion-select-option value="{{mov.idusuario}}">{{mov.nombre}} {{mov.ap}} {{mov.am}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
          <ion-label>IB</ion-label>
          <ion-select cancelText="CANCELAR" okText="ACEPTAR" [(ngModel)]="causuario.idcaib" [disabled]="opc">
            <div *ngFor="let mov of resposeDataIB ">
              <ion-select-option value="{{mov.idcaib}}">{{mov.empresa}}</ion-select-option>
            </div>
          </ion-select>
      </ion-item>
      <br>
      <div class="panel">
        <ion-button (click)="editar = false" class="cancel hovercancel"><b>Cancelar</b></ion-button>
        <ion-button (click)="guardar()" *ngIf="!opc" class="save hoversave"><b>Guardar</b></ion-button>
      </div>
      <br>
    </ion-card>
  </div>
  
  <div *ngIf="!editar">
    <ion-chip class="chip">
      <ion-icon name="person-add" class="icon"></ion-icon>
      <ion-label class="label">Sección para agregar nuevos usuarios.</ion-label>
    </ion-chip>
    <div class="agregar">
      <ion-button (click)="agregar()" class="save hoversave"><b>Agregar nuevo</b></ion-button>
    </div>

    <ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)" class="mayuscula"></ion-searchbar>

    <div class="table">
      <ion-card *ngFor="let data of resposeDataON">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div>
                <ion-icon slot="start" name="create" class="edit" (click)="editarR(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="list-box" class="mas" (click)="info(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="trash" class="trash" (click)="eliminar(data)"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="5">
              <div>
                <b>NOMBRE:</b><br>{{data.nombre}} {{data.ap}} {{data.am}}
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <b>TIPO:</b><br>{{data.destipousuario}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>

</ion-content>