<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar class="toolbar">
            <ion-title class = "title"><img src="../assets/img/small.png"><br>MENU</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class = "content">
        <ion-list lines="full"  class="list">
          <ion-menu-toggle auto-hide="true" class="first-level">
            <ion-item [routerDirection]="'root'" [routerLink]="['/home']" (click)="clearLevel()">
              <ion-label>
                <ion-icon name="home"></ion-icon>Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
            <ion-label>
              <ion-icon name="albums" slot="end"></ion-icon>
              Catalogos
              <ion-menu-toggle>
                <ul *ngIf="isLevel1Shown('idx'+i)" class="level1" style="list-style: none;">
                  <li (click)="toggleLevel2('idx'+i+'idx'+j)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+j)}"
                    [routerLink]="['/tipousuario']" class="item">
                    <br>
                    <ion-icon slot="end"></ion-icon>
                    Tipo de Usuario
                  </li>
                  <li (click)="toggleLevel2('idx'+i+'idx'+j)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+j)}"
                    [routerLink]="['/tipocuenta']" class="item">
                    <br>
                    <ion-icon slot="end"></ion-icon>
                    Tipo de Cuenta
                  </li>
                  <li (click)="toggleLevel2('idx'+i+'idx'+j)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+j)}"
                    [routerLink]="['/tipomovimiento']" class="item">
                    <br>
                    <ion-icon slot="end"></ion-icon>
                    Tipo de Movimiento
                  </li>
                  <li (click)="toggleLevel2('idx'+i+'idx'+j)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+j)}"
                    [routerLink]="['/subtipomovimiento']" class="item">
                    <br>
                    <ion-icon slot="end"></ion-icon>
                    Subtipo Movimiento
                  </li>
                  <li (click)="toggleLevel2('idx'+i+'idx'+j)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+j)}"
                    [routerLink]="['/ib']" class="item">
                    <br>
                    <ion-icon slot="end"></ion-icon>
                    IB´s
                  </li>
                  <li (click)="toggleLevel2('idx'+i+'idx'+j)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+j)}"
                    [routerLink]="['/intrumentos']" class="item">
                    <br>
                    <ion-icon slot="end"></ion-icon>
                    Instrumentos
                  </li>
                </ul>
              </ion-menu-toggle>
            </ion-label>
          </ion-item>

          <ion-menu-toggle>
            <ion-item (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" [routerLink]="['/causuario']">
              <ion-label>
                <ion-icon name="person" slot="end"></ion-icon>
                Usuario
              </ion-label>
            </ion-item>
            <ion-item (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" [routerLink]="['/cacliente']">
              <ion-label>
                <ion-icon name="contacts" slot="end"></ion-icon>
                Clientes
              </ion-label>
            </ion-item>
            <ion-item (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" [routerLink]="['/camovimiento']">
              <ion-label>
                <ion-icon name="card" slot="end"></ion-icon>
                Movimientos
              </ion-label>
            </ion-item>
            <ion-item (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" [routerLink]="['/trades']">
              <ion-label>
                <ion-icon name="briefcase" slot="end"></ion-icon>
                Trades
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>