ion-menu {
    width: 100%;
}

.toolbar {
    --background: #003d60;
}

.title{
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.content{
    --background: url("../assets/img/opc5.png") 0 0/100% 100% no-repeat;
    height: 100%;
}

.list{
    background: rgba(255, 255, 255, .8) !important;
    height: 100%;
}

.item{
    --background: rgba(255, 255, 255, .0) !important;
    color: #003d60;
}

.icon{
    color: #003d60;
}