<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Catalogo de Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="editar">
    <br>
    <ion-card>
      <ion-item>
        <ion-label>Tipo de Cuenta</ion-label>
        <ion-select cancelText="CANCELAR" okText="ACEPTAR" [(ngModel)]="cacliente.idtipocuenta" [disabled]="opc">
          <div *ngFor="let mov of resposeDataTipoCuenta ">
            <ion-select-option value="{{mov.idtipocuenta}}">{{mov.descripcion}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="cacliente.nombre" type="text" onkeyup="javascript:this.value=this.value.toUpperCase();"
          [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input [(ngModel)]="cacliente.ap" type="text" onkeyup="javascript:this.value=this.value.toUpperCase();"
          [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input [(ngModel)]="cacliente.am" type="text" onkeyup="javascript:this.value=this.value.toUpperCase();"
          [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="cacliente.email" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="cacliente.user" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="cacliente.password" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>IB</ion-label>
        <ion-select cancelText="CANCELAR" okText="ACEPTAR" [(ngModel)]="cacliente.idIB" [disabled]="opc">
          <div *ngFor="let mov of resposeDataIB ">
            <ion-select-option value="{{mov.idcaib}}">{{mov.empresa}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Trader</ion-label>
        <ion-select cancelText="CANCELAR" okText="ACEPTAR" [(ngModel)]="cacliente.idtrader" [disabled]="opc">
          <div *ngFor="let mov of resposeDataTrader ">
            <ion-select-option value="{{mov.idusuario}}">{{mov.nombre}} {{mov.ap}} {{mov.am}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Numero de Cuenta</ion-label>
        <ion-input [(ngModel)]="cacliente.numerocuenta" type="number"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Documento</ion-label>
        <ion-input [(ngModel)]="cacliente.documento" type="text"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Tipo de Documento</ion-label>
        <ion-input type="text" [(ngModel)]="cacliente.tipodocumento"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Fecha de Apertura</ion-label>
        <ion-input [(ngModel)]="cacliente.fechaapertura" type="date" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Telefono Particular</ion-label>
        <ion-input [(ngModel)]="cacliente.telparticular" type="number" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Telefono de Oficina</ion-label>
        <ion-input [(ngModel)]="cacliente.teloficina" type="number" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Telefono Movil</ion-label>
        <ion-input [(ngModel)]="cacliente.telmovil" type="number" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Ciudad</ion-label>
        <ion-input type="text" [(ngModel)]="cacliente.ciudad" onkeyup="javascript:this.value=this.value.toUpperCase();"
          [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Pais</ion-label>
        <ion-input type="text" [(ngModel)]="cacliente.pais" onkeyup="javascript:this.value=this.value.toUpperCase();"
          [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="cacliente.direccion"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Ocupacion</ion-label>
        <ion-input type="text" [(ngModel)]="cacliente.ocupacion"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Observaciones</ion-label>
        <ion-input type="text" [(ngModel)]="cacliente.observaciones"
          onkeyup="javascript:this.value=this.value.toUpperCase();" [disabled]="opc"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Estatus</ion-label>
        <ion-select cancelText="CANCELAR" okText="ACEPTAR" [(ngModel)]="cacliente.estatus" [disabled]="opc">
          <ion-select-option value="activo">ACTIVO</ion-select-option>
          <ion-select-option value="inactivo">INACTIVO</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <div class="panel">
        <ion-button (click)="editar = false" class="cancel hovercancel"><b>Cancelar</b></ion-button>
        <ion-button (click)="guardar()" *ngIf="!opc" class="save hoversave"><b>Guardar</b></ion-button>
      </div>
      <br>
    </ion-card>
  </div>

  <div *ngIf="!editar">
    <ion-chip>
      <ion-icon name="people" color="primary"></ion-icon>
      <ion-label>Sección para agregar nuevos clientes.</ion-label>
    </ion-chip>
    <div class="agregar">
      <ion-button (click)="agregar()" class="save hoversave"><b>Agregar nuevo</b></ion-button>
    </div>

    <ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)" class="mayuscula"></ion-searchbar>

    <div class="table">
      <ion-card *ngFor="let data of resposeDataON">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div>
                <ion-icon slot="start" name="create" class="edit" (click)="editarR(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="list-box" class="mas" (click)="info(data)"></ion-icon>
                &nbsp;
                <ion-icon slot="start" name="trash" class="trash" (click)="eliminar(data)"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="5">
              <div>
                <b>CLIENTE:</b><br>{{data.numerocuenta}}
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <b>NOMBRE:</b><br>{{data.nombre}} {{data.ap}} {{data.am}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>

</ion-content>