ion-header{
    ion-toolbar{
        --background: #003d60;
      ion-buttons{
         ion-menu-button{
             color: white;
         }
      }
    }
    ion-title{
        color: white;
    }
}
ion-content {

    .panel{
        text-align: right;
        margin-top: 5%;
    }
    ion-chip {
        margin-top: 5%;
        ;
    }

    .agregar {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }

    .table {
        ion-card {
            margin-top: 2%;
            --background: rgb(14, 78, 116);
            color: white;
                .trash {
                    color: red;
                    font-size: 100%;
                }
                .edit{
                    font-size: 100%;
                    color: #5bc042;
                }
                .mas{
                    font-size: 100%;
                    color: orange; 
                }
        
            ion-grid{
                text-align: left;
            ion-row{
                text-align: left;
            }
        }
        }
    }
}

.cancel {
    --background: red;
}

.save {
   --background: #5bc042;
}

.hovercancel {
    --background-hover: rgba(252, 61, 61, 0.767) !important;
}

.hoversave {
    --background-hover: #5bd031 !important;
}

.icon{
    color: white;
}

.label{
    color: white;
}

.chip{
    --background: rgba(0, 61, 96, 1);
}

.editar{
    background: white;
}

.select{
    max-width: 400% !important;
}

.h4{
    text-align: center;
}