.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-header{
  ion-toolbar{
      --background: #003d60;
    ion-buttons{
       ion-menu-button{
           color: white;
       }
    }
  }
  ion-title{
      color: white;
  }
}

ion-content {
      --background: url("../../assets/img/-8.jpg") 0 0/100% 100% no-repeat;
    height: 100%;
    text-align: center;

  ion-header {
    ion-toolbar {
      --background: #003d60;
      ion-tilte {
        --color: white !important;
      }
    }
  }

  ion-card {
    text-align: right;
    --background: rgba(255, 255, 255, .7);
  }
}