<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ZANTAR INVESTMENT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  
    <ion-card-content>
      {{dataUsuario.descripciontipousuario}}
      <br>
      {{dataUsuario.ultimaconexion}}
    </ion-card-content>
  </ion-card>
</ion-content>
